@page
@model TechChallenge.Ui.Razor.Pages.ProductsModel
<h1>Cadastrar Produto</h1>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="description">Descrição:</label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="price">Preço:</label>
            <input asp-for="Price" class="form-control" />
        </div>
        <input asp-for="FileInput" accept="image/png, image/jpeg, image/gif" />
        <input type="submit" class="btn btn-primary" />
    </form>
</div>

@if (TempData["ErroMensagem"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErroMensagem"]
    </div>
}
